#img-product {
    max-height: 300px;
    max-width: 300px;
}

#product-view {
    width: 350px;
    height: 300px;
}

#btn-back-in-first {
    margin-left: 400px;
    margin-top: 20px;
    width: 220px;
}

.cart-product-default {
    width: 100%;
    height: 180px;
    border: #0f6ecd;
    background-color: #ffffff;
}

#cart-position-default {
    margin-top: 80px;
}

#search-bar {
    width: 200px;

}

#drop-bar-category {
    width: 200px;
    margin-top: 5px;
}

#btn-submit {
    width: 200px;
}
#container-products {
    margin-top: 15px
}
