
ul.sub-menu {
   display: none;
}

.main-item:focus ~ .sub-menu,
.main-item:active ~ .sub-menu,
.sub-menu:hover
{
   display: block;
}
#block-reg{
   margin-left: 42%;
}
.reg-cl{
   margin-left: 42%;
}