#cart-alert-pr {
    margin-top: 200px;
}

#form-an-order {
    width: 300px;
}

#block-product-prod {
    margin-top: 15px;
}

#product-photo-pr {
    width: 350px;
    height: 300px
}

#photo-style-pr {
    max-height: 300px;
    max-width: 300px
}