#card-3-4 {
    margin-left: 13%;
    margin-top: 10px;
}

#card-pos-top-left {
    margin-top: 1px;
    margin-left: 5px;
}

#text-price {
    height: 60px;
}

#card-w-3-4 {
    margin-left: 13%;
    margin-top: 10px
}

#order-data {
    margin-top: 1px;
    margin-left: 5px
}