#btn-in-back-pur {
    margin-left: 13px;
    width: 220px;
}

#card-def {
    margin-left: 12px;
    margin-top: 15px;
}

#card-1-4-s {
    height: 60px;
    color: #9C1A1C;
}

#img-style-pur {
    max-height: 130px;
    max-width: 170px;
    border-radius: 5%;
}

#card-pos-3-4 {
    margin-top: 5px;
    margin-left: 5px;
}

#crd-pos-cen {
    margin-bottom: 10px;
    margin-left: 95px
}

#form-an-order-1 {
    width: 250px;
}

#card1-3 {
    margin-top: 50px;
}

#products-card-relink-1 {
    margin-top: 100px;
    margin-right: 150px;
}