{% extends "layouts/base.html" %}
{% block content %}
    {% if status_product %}
        <div class="uk-card uk-position-top-center" id="alert-product-card">
            <h1 class="uk-heading-line uk-text-center">
                <span>
                        {{ status_product }}
                </span>
            </h1>

            <input name="action-1" onclick="history.back();" class="btn btn-primary" id="back-in-prod"
                   type="button" value="Вернуться к корзине"/>
        </div>
    {% elif status_payment %}
        <div class="uk-card uk-position-center" id="products-card-relink">
            <h1 class="uk-heading-line uk-text-center">
                <span>
                        {{ status_payment }}
                </span>
            </h1>
            <input name="action-1" class="btn btn-primary" id="back-in-tov"
                   onclick="window.location.href = '{{ url_for('index') }}';" type="submit"
                   value="Вернуться к товарам"/>
        </div>
    {% else %}
        <input name="action-1" onclick="history.back();" class="btn btn-primary" id="back-in-cart"
               type="button" value="Вернуться к корзине"/>
        {% for product in products %}
            <div class="uk-flex uk-flex-column uk-flex-wrap-stretch" id="product-view-class-{{ product.id }}"
                 style="max-width: 950px;">
                <div class="uk-card" id="default-cart">
                    <div class="uk-text-center uk-grid-small" uk-grid>
                        <div class="uk-width-1-4">
                            <div class="uk-card uk-card-default uk-card-body">
                                <div class="uk-height-small" id="ccard-small">
                                    <div class="uk-position-center"
                                         onclick="location.href = '{{ url_for("get_product", product_id=product.id) }}'">
                                        <picture>
                                            <img src="{{ product.photo }}" id="product-photo-i"
                                                 alt="">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-3-4">
                            <div class="uk-card uk-card-default uk-card-body ">
                                <div class="uk-height-small" style="height: 60px">
                                    <div class="uk-position-center-left" id="cart-po-left">
                                        <p>{{ product.name | hidden_product_format }}
                                            &#215; {{ product.count }}</p>
                                    </div>
                                    <div class="uk-position-center" id="price-center">
                                        <span>
                                            <span id="product-price-{{ product.id }}">{{ product.price * product.count }}
                                            </span> ₽
                                        </span>
                                    </div>
                                    <p hidden id="product-id">{{ product.id }}</p>
                                    <div class="uk-position-center-right uk-overlay uk-overlay-default"
                                         style="height: 130px">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="uk-card uk-position-right" id="products-card-relink-6">
            <div class="create-order">
                <p><input id="form-an-order" onclick="Payment()" type="button"
                          value="Оплатить" class="btn btn-primary" style="width: 250px"></p>
            </div>
            <div class="uk-width-1-3">
                <div class="uk-card uk-position-top-center" style="margin-top: 50px">
                    <div class="price" id="price-order-cart">
                        <div class="price-view-cart">
                            <div>
                                <h3><span><span id="final-cart-price">{{ final_price }}</span> ₽</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <script>
        function Payment() {

            $.ajax({
                url: '{{ url_for('payment') }}', // добавляем url, откуда будем брать данные
                method: 'get', // указываем метод
                dataType: 'html', // тип данных
                // данные запроса (в данном случае, там находятся GET-параметры)
                // функция, которая вызывается при успешном получении данных
                success: function () {
                    window.location.href = '/payment';
                }
            })
        }
    </script>
{% endblock %}